.title-add-part{
    font-size: 3.2em;
    margin-bottom: 0.5em;
}

.add-prebuild-container{
text-align: center;
}

.add-part-placeholder {
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 20px auto;
    text-align: center;
}

.add-part-card h1 {
    margin-bottom: 20px;
}

.add-part-card form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-part-card form div {
    margin-bottom: 10px;
}

.add-part-card form input[type="text"],
.add-part-card form input[type="number"],
.add-part-card form textarea {
    width: 90%; 
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.add-part-card form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-part-card form button:hover {
    background-color: #0056b3;
}

#description{
    max-width: 96%;
    min-width: 96%;
    width: 96%;
    margin-bottom: 20px;
}

.add-part-button{
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 0px;
}

#name{
    width: 96%;
    margin-bottom: 20px;
}

#price{
    margin-bottom: 20px;
    width: 96%;
}